<div class="box box--vertical">
    <div class="box box--vertical">
        <div class="box"></div>
        <div class="box box--shrink box--alignCenter" style="padding: 0 0 10px 0;">
            <img src="./image/logo.png"/>
        </div>
    </div>

    <div class="box box--alignCenter" style="padding: 10px 0 0 0;">
        <div class="loader">Loading...</div>>
    </div>
</div>